<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fitple.duksung.ac.kr.fitple2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".GroupAddActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".FeedActivity" />
        <activity android:name=".JoinActivity" />
        <activity android:name=".CommunityActivity" />
        <activity android:name=".CommunityDetailActivity" />
        <activity android:name=".StatisticActivity" />
        <activity android:name=".Community_Recycle_Activity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:label="@string/app_name" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1085038801548627"
            android:exported="true" />

        <activity android:name=".FacebookTest" />
        <activity
            android:name=".StatisticTest"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".CommentActivity" />
        <activity android:name=".FeedAddActivity"></activity>
    </application>

</manifest>